
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/StyleForClient/StyleDetailUser.css" rel="stylesheet" />


<div class="userdetail">
    <div class="menu">
        <h3>Menu</h3>
        <ul>
            <li><a class="menu_detail_user" href="/Account/Details" "><i class="fa-solid fa-user"></i> Account information</a></li>
            <li><a class="menu_detail_user" href="/Account/ChangePassword" "><i class="fa-solid fa-lock"></i> Change Password</a></li>
            <li><a class="menu_detail_user" href="/Cart/Index" "><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
            <li><a class="menu_detail_user" href="/MyPurchase/Index" "><i class="fa-solid fa-calendar-days"></i> My Purchase</a></li>
        </ul>
    </div>
    <div class="info">
        <h3>Account information</h3>
        <div id="forminfo">
            <label for="username">Password</label>
            <div><input type="Password" id="password"  name="password" ></div>

            <label for="role">New Password</label>
            <div><input type="password" id="newpassword"  name="newpassword" ></div>

            <label for="fullname">Confirm password</label>
            <div><input type="password" id="cfpassword"  name="cfpassword"></div>
            <input onclick="ChangePw()" type="button" value="Change">
        </div>
    </div>
</div>

<script>
    
    function ChangePw() {
        const password = $('#password').val();
        const newpassword = $('#newpassword').val();
        const cfpassword = $('#cfpassword').val();

        // Gửi dữ liệu bằng AJAX
        $.ajax({
            type: 'POST',
            url: '/Account/UpdatePassword',
            data: { password: password, newpassword: newpassword, cfpassword: cfpassword },
            success: function (result) {
                if (result.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Change password successfully',
                        showConfirmButton: false,
                        timer: 1500
                    });
                   
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: result.message
                    });
                }
            },
            error: function (xhr) {
                // xử lý lỗi ở đây
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: xhr.responseJSON.message
                });
            }
        });
    };

</script>
